.table-container {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    visibility: hidden;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

th {
    background-color: #764abc;
    color: white;
}

.delete-button {
    background-color: #800000;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 400;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.delete-button:hover,
.delete-button:focus {
    background-color: #000000;
}

.no-data {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      display: none;
    }
    tr { margin: 0 0 10px 0; }
    td {
      border: none;
      border-bottom: 1px solid #dddddd;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1) {
        background-color: #764abc;
        color: white;
    }
    /* Not a reusable solution */
    td:nth-of-type(1)::before { content: "Name"; }
    td:nth-of-type(2)::before { content: "Email"; }
    td:nth-of-type(3)::before { content: "Country"; }
    td:nth-of-type(4)::before { content: "Delete user"; }
  }
  